body {
    background-color: whitesmoke;
}

h1, h2 {
    text-align: center;
}

div {
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 100%;
}

p {
    font-size: 14pt;
    text-align: center;
    float: center;
}

footer {
    text-align: center;
}

.bg-1 {
    background-color: whitesmoke;
    color: lightslategray;
}

.bg-2 {
    background-color: rgb(226, 226, 226);
    color: white;
}

.img-1 {
    max-width: 100%;
    height: 50%;
    width: 50%;
}

.img-2 {
    max-width: 100%;
    height: 10%;
    width: 10%;
    margin-left: 2vw;
    margin-top: -3vw;
}

.divHover {
    visibility: visible;
    color: black;
}

.divHover:hover {
    font-weight: bold;
}

.button {
    box-shadow: slategrey;
}

.viewcart {
    text-align: right;
}

.checkout {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.squish-center {
    margin: 50px 15%;
}