body {
    background-color: whitesmoke;

}

div {
    border-style: groove;
    color: black;
    padding: 10px;
    margin: 10px;  
}

.divHover {
    visibility: visible;
    color: black;
}

.headerBox {
    padding: 3%
}

h1 {
    text-align: center;
}

.column {
    width: 25%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.centered {
    text-emphasis: center;
}

.buttonBox {
    background-color: lightgreen;
    padding: 0.5%;
}

.button {
    box-shadow: slategrey;
}