body {
    background-color: whitesmoke;
}

h1, h2 {
    text-align: center;
}

div {
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 100%;
}

.bg-1 {
    background-color: whitesmoke;
    color: lightslategray;
}

.img-1 {
    max-width: 100%;
    height: auto;
}

.divHover {
    visibility: visible;
    color: black;
}

.divHover:hover {
    font-weight: bold;
}

.headerBox {
    padding: 3%
}

.buttonBox {
    background-color: rgb(228, 240, 119);
    padding: 0.5%;
}

.button {
    box-shadow: slategrey;
}